<dialog [open]="isOpen">
    <div class="modal-container">
        <div class="box-modal">
            <div class="modal-header">
                <h2>Nova Despesa</h2>
                <button class="close-btn" (click)="fechar()">
                    <svg class="icon close-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                    </svg>
                </button>
            </div>

            <div class="modal-body">

                <div class="form-group">
                    <label class="form-label" for="">Título da Despesa</label>
                    <input class="form-input" type="text" [(ngModel)]="title" placeholder="Ex: Mercado">
                </div>
                
                <div class="form-group">
                    <label class="form-label" for="">Data</label>
                    <input class="form-input" [(ngModel)]="expenseDate" type="date">
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label class="form-label" for="">Categoria</label>
                        <select class="form-select" [(ngModel)]="category">
                            <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="">Membro Responsável</label>
                        <select class="form-select" [(ngModel)]="memberId">
                            <option *ngFor="let member of activeMembers" [value]="member.id">{{ member.name }}</option>
                        </select>
                    </div>
                </div>

                <div class="expense-items">

                    <div class="expense-items-header">
                        
                        <label class="form-label" for="">Itens da Despesa</label>
                        <button class="btn btn-add-item" (click)="addItems()">
                            <svg class="icon-add-item" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5v14"></path>
                            </svg>
                            Adicionar Item
                        </button>
                    </div>

                    <div class="expense-item" *ngFor="let item of items; let i = index">

                        <div class="form-group">
                            <label class="form-label" for="">Nome do Item</label>
                                <div class="item-name-input">
                                    <input class="form-input" type="text" [(ngModel)]="item.name" placeholder="Ex: Arroz 5kg">
                                    <button class="btn-remove-item" *ngIf="items.length > 1" (click)="removeItem(i)">
                                        <svg class="icon" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <path d="M3 6h18"></path>
                                            <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
                                            <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
                                            <line x1="10" x2="10" y1="11" y2="17"></line>
                                            <line x1="14" x2="14" y1="11" y2="17"></line>
                                        </svg>
                                    </button>
                                </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label class="form-label" for="">Quantidade</label>
                                <input class="form-input" type="number" min="1" oninput="validity.valid||(value='');" [(ngModel)]="item.quantity">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="">Preço Unitário (R$)</label>
                                <input class="form-input" type="number" min="0.00" step="0.01" oninput="validity.valid||(value='');" [(ngModel)]="item.unitPrice">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="expense-total">
                    <span>Total da Despesa:</span>
                    <span class="expense-total-value">{{ totalExpense | currency: 'BRL':'symbol':'1.2-2' }}</span>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" (click)="fechar()">Cancelar</button>
                <button class="btn btn-primary" (click)="saveExpense()">Salvar Despesa</button>
            </div>
        </div> 
    </div>
</dialog>