/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f9fafb;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: auto;
    padding-bottom: 80px;
}

.section-block {
    width: 100%;
    padding: 24px 12px;
}